{ "proxy": "http://10.10.10.10:3128",
  "timeout": 10,
  "frequency": 15,
  "trigger_threshold": 2,
  "recover_threshold": 3,
  "alarm_repeat": 600,
  "services": {
    "zabbix": {
      "server": "127.0.0.1",
      "host": "superserver.ru"
    },
    "slack": {
      "hook": "https://hooks.slack.com/services/token"
    },
    "telegram": {
      "token": "token",
      "chat_id": "chat_id"
    }
  },
  "resources": {
    "https://www.yandex.ru": {
      "type": "GET",
      "url": "https://www.yandex.ru",
      "expected_text": "Яндекс",
      "expected_code": 200,
      "use_proxy": true
    },
    "https://www.mail.ru": {
      "type": "GET",
      "url": "https://www.mail.ru",
      "expected_text": "Почта Mail.Ru",
      "expected_code": 200,
      "use_proxy": false
    },
    "https://yahoo.co.jp": {
      "type": "POST",
      "url": "https://yahoo.co.jp",
      "expected_text": "メールアドレスを取得",
      "expected_code": 200,
      "data": "login=111",
      "use_proxy": false
    }
  }
}
