<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

   <link href="{{ static('styles.css') }}" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<div id="app" class="container">
</div>

{% raw %}
<template id="item_template">
  <div class="item" style="background: {{color}}" id="{{id}}">
    <p>{{id}}</p>
  </div>
</template>
{% endraw %}
  <script src="{{ static('script.js') }}"></script>
</body>
</html>
